<?xml version="1.0" encoding="UTF-8"?>

<!-- 절대 오타 있으면 안됨 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">

            <bean id="obj1" class="kr.co.ezenac.beans.TestBean1">
                <property name="data1" ref="data_bean1"/>
                <property name="data2" ref="data_bean1"/>
            </bean>

            <bean id="data_bean1" class="kr.co.ezenac.beans.DataBean1" scope="prototype"/>

            <bean id="obj2" class="kr.co.ezenac.beans.TestBean1" autowire="byName"/> <!-- TestBean1의 필드명(name)과 같은 id를 가진 객체를 자동 주입 -->
            <bean id="data1" class="kr.co.ezenac.beans.DataBean1"/>
            <bean id="data2" class="kr.co.ezenac.beans.DataBean1"/>

            <bean id="obj3" class="kr.co.ezenac.beans.TestBean2" autowire="byType"/> <!-- TestBean1의 필드 타입을 가진 객체를 자동 주입 -->
            <!--<bean class="kr.co.ezenac.beans.DataBean2"/>-->
            <!--<bean class="kr.co.ezenac.beans.DataBean2"/> byType일 때 동일타입이 두개 이상일 시 에러-->

            <bean id="obj4" class="kr.co.ezenac.beans2.TestBean3">
                <constructor-arg ref="data_bean2" index="0"/>
                <constructor-arg ref="data_bean2" index="1"/>
            </bean>
            <bean id="data_bean2" class="kr.co.ezenac.beans.DataBean2"/>

            <bean id="obj5" class="kr.co.ezenac.beans2.TestBean3" autowire="constructor"/>

            <bean id="obj6" class="kr.co.ezenac.beans2.TestBean3" autowire="constructor">
                <constructor-arg value="100" index="0" type="int"/>
                <constructor-arg value="문자열" index="1" type="java.lang.String"/>
                <constructor-arg ref="data_bean2" index="2" type="kr.co.ezenac.beans.DataBean2"/>
                <constructor-arg ref="data_bean2" index="3"/>
            </bean>

            <bean id="obj7" class="kr.co.ezenac.beans2.TestBean3" autowire="constructor">
                <constructor-arg value="200" index="0" type="int"></constructor-arg>
                <constructor-arg value="문자열1" index="1" ></constructor-arg>
            </bean>

            <bean id="obj8" class="kr.co.ezenac.beans.TestBean1"/>

            <bean id="obj9" class="kr.co.ezenac.beans.TestBean1"/>

</beans>