<?xml version="1.0" encoding="UTF-8"?>

<!-- 절대 오타 있으면 안됨 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						https://www.springframework.org/schema/context/spring-context.xsd
                        ">
    <!-- bean 클래스에 설정되어 있는 어노테이션을 이용한다. -->
    <context:annotation-config/>

</beans>