<?xml version="1.0" encoding="UTF-8"?>

<!-- 절대 오타 있으면 안됨 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="xml1" class="kr.co.ezenac.beans.TestBean1" lazy-init="true">
        <constructor-arg value="100" type="int" index="0"/>
        <constructor-arg value="문자열1" index="1"/>
        <constructor-arg ref="data_bean1" index="2"/>
    </bean>

    <!-- set메서드를 통한 주입 -->
    <bean id="xml2" class="kr.co.ezenac.beans.TestBean1" lazy-init="true">
        <property name="data1" value="300"/>
        <property name="data2" value="문자열"/>
        <property name="data3" ref="data_bean1"/>
    </bean>

    <bean id="data_bean1" class="kr.co.ezenac.beans.DataBean1"/>

    <bean id="data1" class="kr.co.ezenac.beans.DataBean2"/>
    <bean id="data2" class="kr.co.ezenac.beans.DataBean2"/>
    <bean id="xml3" class="kr.co.ezenac.beans.TestBean2" lazy-init="true" autowire="byName"/>

    <bean class="kr.co.ezenac.beans2.TestBean3"/>

    <bean class="kr.co.ezenac.beans.DataBean3"/>
    <bean id="xml4" class="kr.co.ezenac.beans2.TestBean3" autowire="byType"/>

</beans>