<?xml version="1.0" encoding="UTF-8"?>

<!-- 절대 오타 있으면 안됨 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="xml1" class="kr.co.ezenac.beans.TestBean1"/>
        <bean id="xml2" class="kr.co.ezenac.beans.TestBean2" lazy-init="true"/>
        <bean id="xml3" class="kr.co.ezenac.beans2.TestBean3" scope="prototype"/>

        <bean class="kr.co.ezenac.beans.TestBean4"/>
        <bean class="kr.co.ezenac.beans.TestBean4" primary="true"/>
        <!-- primary -> 동일 타입의 객체 생성내용이 있을때 우선 처리할 것 -->

</beans>